@font-face {
  font-family: 'Inter';
  src: local('inter'), local('Inter-Regular'),
      url('./Inter/Inter-Regular.eot') format('embedded-opentype'),
      url('./Inter/Inter-Regular.woff2') format('woff2'),
      url('./Inter/Inter-Regular.woff') format('woff'),
      url('./Inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('inter'), local('Inter-Medium'),
      url('./Inter/Inter-Medium.eot') format('embedded-opentype'),
      url('./Inter/Inter-Medium.woff2') format('woff2'),
      url('./Inter/Inter-Medium.woff') format('woff'),
      url('./Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('inter'), local('Inter-Medium'),
      url('./Inter/Inter-Medium.eot') format('embedded-opentype'),
      url('./Inter/Inter-Medium.woff2') format('woff2'),
      url('./Inter/Inter-Medium.woff') format('woff'),
      url('./Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('inter'), local('Inter-Bold'),
      url('./Inter/Inter-Bold.eot') format('embedded-opentype'),
      url('./Inter/Inter-Bold.woff2') format('woff2'),
      url('./Inter/Inter-Bold.woff') format('woff'),
      url('./Inter/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}