@font-face {
	font-family: 'Micra';
	src: local('Micra'),
    url('./Micra/Micra-Bold.eot') format('embedded-opentype'),
    url('./Micra/Micra-Bold.woff') format('woff'),
    url('./Micra/Micra-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Micra';
	src: local('Micra'),
  url('./Micra/Micra.eot') format('embedded-opentype'),
  url('./Micra/Micra.woff') format('woff'),
  url('./Micra/Micra.ttf') format('truetype');
	font-weight: normal;
}