/*import vendors*/
@import url(vendors/normalize.css);
@import url(vendors/bootstrap.min.css);
@import url(vendors/bootstrap.min.css.map);


:root {
  --color-var-back-page: #F7F3E3;
  --color-var-back-block: #472795;
  --color-var-btn-primary: #F99E0F;
  --color-var-title-primary: #472795;
  --color-var-text: #454545;
  --color-var-light: #696969;
}

body {
  background-color: var(--color-var-back-page);
  font-family: 'Inter', 'sans-serif';
  margin: 0;
  padding: 0;
  border: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.img-border {
  border: 1px solid var(--color-var-light);
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: var(--color-var-text)
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 37px;
  line-height: 1.1;
  font-family: 'Micra';
  font-weight: bold;
  font-style: normal;
  color: var(--color-var-text);
}

h2 {
  font-size: 35px;
  line-height: 1.2;
  font-family: 'Micra';
  font-weight: bold;
  font-style: normal;
}

h3 {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Micra';
  font-weight: normal;
  font-style: normal;
}

h4 {
  font-size: 25px;
  line-height: 1.2;
  font-family: 'Micra';
  font-weight: normal;
  font-style: normal;
}

h5 {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Micra';
  font-weight: normal;
  font-style: normal;
}

.title-color {
  color: var(--color-var-back-block);
}

.text-m {
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-var-text);
}

.text-s {
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-var-text);
}

.span {
  color: var(--color-var-back-block);
}

.button {
  border: none;
  background-color: var(--color-var-btn-primary);
  padding: 15px 35px;
  font-size: 14px;
  color: white;
  line-height: 1;
  height: 50px;
}


.info-about .text-m {
  max-width: 800px;
}

.item-card {
  background-color: transparent;
  border: 1px solid var(--color-var-light);
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.item-card {
  max-width: 309px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.item-title {
  margin: 0;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color-var-light);
}

.card-team-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row .item-card:last-child {
  margin-right: 0;
}


/* ACCORDEON */

.accordion__item {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: var(--color-var-text);
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  border: 1px solid var(--color-var-light);
}

.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 25px;
  margin-left: auto;
  background-image: url('/assets/img/icon/arrow-accordeon.svg');
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
}

.accordion__item_show .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__item_show .accordion__header {
  border-bottom: none;
}

.accordion__header:hover {
  background-color: transparent;
}

.accordion__body {
  padding: 25px;
  padding-top: 0;
  overflow: hidden;
  border: 1px solid var(--color-var-light);
  border-top: 0;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.rewiew-card {
  border: 1px solid var(--color-var-light);
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
}

.news-main-left {
  background-color: var(--color-var-back-block);
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  height: 417px;
  align-items: center;
  justify-content: center;
}

.news-item-data {
  border-bottom: 1px solid var(--color-var-light);
}

.news-item-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.new-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  margin-top: auto;
}

.new-page-more h4 {
  padding-top: 25px;
  border-top: 1px solid var(--color-var-light);
}

.item-new-img {
  max-width: 134px;
  object-fit: cover;
  padding: 0;
}

.card-category-info {
  padding-top: 20px;
  border-top: 1px solid var(--color-var-light);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.shop-card-container {
  max-width: 450px;
  padding: 30px;
  border: 1px solid var(--color-var-light);
  position: relative;
}

.shop-card-save {
  position: absolute;
  top: 15px;
  right: 15px;
  max-width: 25px;
}

.shop-card-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  border-top: 1px solid var(--color-var-light);
  margin-top: 20px;
}

.shop-card-price p {
  color: var(--color-var-back-block);
  font-weight: bold;
  font-size: 20px;
}

.footer-container {
  padding-top: 25px;
  padding-bottom: 15px;
  border-top: 1px solid #B9B9B9;
}

.footer-list-bank {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-doc {
  gap: 20px;
}

.footer-author {
  padding: 0;
}

.footer-title-list {
  text-transform: uppercase;
}
